Flask==2.3.3
Flask-CORS==4.0.0
Werkzeug==2.3.7
pymongo==4.5.0
python-dotenv==1.0.0
gunicorn==21.2.0
authlib==1.2.1
requests==2.31.0
razorpay==2.0.0
flask-socketio==5.5.1
google-generativeai==0.3.0
markdown
